body {
    height: 100%;
}

.square {
    width: 10%;
    height: 10%;
    text-align: center;
    font-size: 200%;
}

.border {
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 10%;
}

.chess_table {
    text-align: center;
}

.footer {
    height: 10%;
}

table {
    width: 80vh;
    height: 80vh;
    margin: auto;
}

.black {
    background-color: darkgrey;
}

.white {
    background-color: lightgray;
}

.highlight {
    background-color: hotpink;
}

td.highlight:hover {
    background-color: mediumvioletred;
}

.selected {
    background-color: mediumpurple;
    border: black 2px
}